@import "../../styles/_variables";
@import "../../styles/_typography";

.headerContainer, .getStarted {
  font-family: $example1font;
  height: 100vh;
  color: $secondaryTextColor;
  color: $gold;
}

.startPageTitle{
font-family: $example6font;
color: $gold;
letter-spacing: 0.5rem;
font-weight: 500;
font-size: 100px;
border-bottom: 1px solid;
max-width: 90%;
margin: 0;
margin-top: 10vh;
}

.descriptionContainer {
  display: flex;
  align-items: center; 
}


.titleDescription {
  display: flex;
  @include fontsizeMedium;
  max-width: 90%;
  margin: 30px 0;
}

.mainInfoPage {
margin-left: 270px;
max-width: 90%;
}

.contentPicture {
  z-index: 0;
  bottom: 8%;
  left:40%;
  position: absolute;
}

.burgerPicture {
  width: 800px;
  height: 600px;
  margin-left: auto;
}


 .button {
  font-family: $example1font;
  background-color: $buttonColor;
  color: $primaryTextColor;
  padding: 15px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 5px;
  width: 350px;
  max-width: 90%;
}


.button:hover {
  background-color: transparent;
  border: 1px solid $primaryTextColor;
  color: $primaryTextColor;
}



.inner {
  width: fit-content;
  display: flex;
  gap: 1rem;
  animation: loop 10s linear infinite;
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: white;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;

}

.scrollTextList {
  width: 30rem;
  font-family: $example1font;
  position: relative;
  overflow: hidden;

}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}






/*  MEDIA     */
@media (max-width: 1024px) {
  .headerContainer {
    height: 400vh;
    width: 100%;
    display: grid;
    align-items: start;
    position: relative;
    justify-items: center;
  }

  .mainInfoPage {
    margin-left: 0;
    display: flex;
    text-align: center;
  }
  

  .startPageTitle {
    font-size: 25rem;
    letter-spacing: 1.5rem; 
    margin: 2rem 0;
  }

  .titleDescription {
    font-size: 4rem;
    margin: 2rem 0;
  }

  .burgerPicture {
    height: auto;
    width: 150vh;
 
  }

  .contentPicture {


    position: inherit;
  }

  .scrollTextContainer {
    width: 100%;
  }


  .scrollTextList {
    font-size: 3rem; 
  }

  .button {
    font-size: 5rem; 
    width: 100%;
  }
  .mainInfoPage {
    display: grid;
    }
}





