@import "../../styles/_variables";
@import "../../styles/_typography";

.headerContainer, .getStarted {
  color: $primaryTextColor;
  font-family: $example1font;
  height: 100vh;
  color: $secondaryTextColor;
  
}

.startPageTitle{
font-family: $example6font;
letter-spacing: 0.5rem;
font-weight: 500;
font-size: 100px;
border-bottom: 1px solid;
max-width: 90%;
}


.titleDescription {
  display: flex;
  @include fontsizeMedium;
  max-width: 90%;
}



.mainInfoPage {
margin-left: 270px;
width: 100%;
max-width: 90%;
}

.contentPicture {
  z-index: 0;
  bottom: 8%;
  left:40%;
  position: absolute;
}

.burgerPicture {
  width: 800px;
  height: 600px;

}


.button {
  font-family: $example1font;
  background-color: $buttonColor;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 5px;
  width: 350px;
  max-width: 90%;
}


.button:hover {
  background-color: transparent;
  border: 1px solid $primaryTextColor;
  color: $buttonColor;
}

.headerButton:hover {
  background-color: transparent;
  border: 1px solid $buttonColor;
  color: $buttonColor;
}

.loginButton:hover {
  background-color: transparent;
  border: 1px solid $buttonColor;
  color: $buttonColor;
}

.scrollTextContainer {
  font-family: $example1font;
  width: 70%;
  bottom: 50px;
  left: 20px;
  width: 300px;
  overflow: hidden;
}


.scrollTextList {

  white-space: nowrap;
  animation: scrollText 20s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrollTextList li {
  display: inline-block;
  padding-right: 40px;
}




@media (max-width: 1024px) {
  .headerContainer {
    height: 400vh;
    width: 100%;
    display: grid;
  }

  .startPageTitle {
    font-size: 25rem;
    letter-spacing: 1.5rem; 
    margin: 2rem 0;
  }

  .titleDescription {
    font-size: 4rem;
    margin: 2rem 0;
  }

  .burgerPicture {
    height: auto;
    width: 70%;
 
  }

  .contentPicture {
    position: inherit;
    margin-right: 10vh;
    
  }

  .scrollTextContainer {
    width: 100%;
  }


  .scrollTextList {
    font-size: 3rem; 
  }

  .button {
    font-size: 5rem; 
    width: 100%;
  }
  .mainInfoPage {
    display: grid;
    }
}





