@import "../../../../styles/_variables";
@import "../../../../styles/_typography";

.aboutSection {
    font-family: $example1font;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%; 
    background-color: white;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 45px;
  }
  
  .homepageText {
    @include fontsizeRegular
  }
  
  .aboutname {
  @include fontsizeLarge;
  }
  
  
  .aboutPicture {
    width: 400px;
  }
  