@import "../../../../styles/_variables";
@import "../../../../styles/_typography";

.aboutSection {
    font-family: $example1font;
    @include row;
    text-align: center;
    width: 70%; 
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10vh;
  }

  
  
  .aboutText {
    width: 150vh;
  }

  .homepageText {
    @include fontsizeMedium;
    padding: $padding-large;
  }
  
  .aboutname {
  @include fontsizeHuge;
  text-transform: uppercase;
  }
  
  
  .aboutPicture {
    width: 56%;
    height: 560px;
    will-change: transform;
    transform-style: preserve-3d;
  }

  @media (max-width: 1024px) {
    .aboutSection {
      width: 100%;
    }
  }
  