@import url("https://fonts.cdnfonts.com/css/apple-garamond");
@import "../../styles/_variables";
@import "../../styles/_typography";



.outerContainer {
  flex-direction: row; 
  display: flex;
  justify-content: space-between; 
  width: 100%; 
}

.menuContainer {
  font-family: "Apple Garamond", sans-serif;
  color: $bacon;
  flex-direction: column;
  padding-left: 40px;
  width: 100%;
}


.shoppingCartContainer {
  background-color: rgb(24, 22, 22);
  border-radius: 5%;
  width: 20%;
  margin-top: 100px;
  border: none;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.listItem {
  display: flex;
  align-items: center;
}

.cartItemImage {
  width: 70px;
  height: auto; 
  margin-right: 10px; 
}

.ulcart {
  font-family: "Apple Garamond", sans-serif;
  color: white;
  list-style-type: none;
  padding-left: 10px;
}



.menuTitle {
  @include fontsizeHuge;
  
}


.menuButton {
  background-color: rgb(24, 22, 22);
  height: 180px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  width: 270px;
  
}

.menuButton:hover {
  box-shadow: 0 0 8px 4px rgba(70,150,240,0.25) inset, 0 0 8px 4px rgba(70,150,240,0.25);
  border: 0px solid rgb(33, 38, 44);
  color: rgba(255,255,255,1);
}

.menuItemContent {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.shoppingCartButtons {

  display: flex;
  align-items: center;
  background-color: #b63333;
  border-radius: 10px;
  height: 35px;
}

.shoppingCartSection {
  position: absolute;
  display: flex;
  margin-left: 250px;
  margin-top: -4px;
  align-items: flex-end;
}

.quantityCounter {

  color:white;
  font-weight: bold;

}

.checkoutButton {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #b63333;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 15px;
  width: 300px;
}

.checkoutButtonSection {

  position: absolute;
  left: 79%;
}

.navigateButton {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: transparent;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 10px;
}

.navigateButton:hover {
  background-color: transparent;
}



.shoppingCart {

  color:white;
}

.removeButton {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #b63333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;


}

.addButton {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #b63333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}


.menuItemTitle {
  font-family: "JetBrains Mono", monospace;
  @include fontsizeRegular;
  color: white;
}

.menuItemPrice {
  font-family: "JetBrains Mono", monospace;
  @include fontsizeRegular;
  color: white;
}


.menuItemContainer {
  bottom: 0;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
}

.menuItemImage {
  width: 200px;
  height: 100%; 
  object-fit: cover;
}

.imageBeer {
  width: 70px;
  height: 100%;
  display: flex;
  margin-bottom: 50px;
  margin-top: 15px;
  
  object-fit: cover;
}
.productButton {
  margin-right: 5px;
  width: 100px;
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 35px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.productButton:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
  rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.productButton:hover {
  box-shadow: rgba(68, 12, 189, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -1px 0 inset;
    transform: translateY(-1px);
  }

  

  
  .shopping {
    font-family: "Apple Garamond", sans-serif;
    color: white;
    align-self: center;
  }
  
  .cartListItem {
    display: flex;
    align-items: center;
  }
  
  .cartItemImage {
    width: 70px;
    height: auto; 
    margin-right: 10px; 
  }

  .cartItemImageBeer {
    width: 35px;
    height: auto; 
    margin: 10px 35px 0 15px;

  }

  .cartContent {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    margin-right: 20px;
  }
.cartItemPrice {
  @include fontsizeSmall;
  line-height: 100%;

}
  
  .ulcart {
    font-family: "Apple Garamond", sans-serif;
    color: white;
    list-style-type: none;
    padding-left: 10px;
  }