@import url("https://fonts.cdnfonts.com/css/apple-garamond");
@import "../../styles/_variables";
@import "../../styles/_typography";



.outerContainer {
  flex-direction: row; 
  display: flex;
  justify-content: space-between; 
  height: 100%;
}

.menuContainer {
  font-family: $example1font;
  color: $primaryTextColor;
  flex-direction: column;
  width: 100%;
}


.shoppingCartContainer {  
width: 25%;
margin-top: 370px;
border: none;
display: flex;
flex-direction: column;
margin-right: 200px;
position: relative;

}

.listItem {
  display: flex;
  align-items: center;
}

.ulmenu {
margin-left: 80px;
}

.cartItemImage {
  width: 70px;
  height: auto; 
  margin-right: 10px; 
}

.ulcart {
  font-family: $example1font;
  color: $primaryTextColor;
  list-style-type: none;
  padding-left: 10px;
}



.menuTitle {
  @include fontsizeHuge;
  color: $primaryTextColor;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.5rem;
  font-weight: 500;
  font-size: 100px;
  text-align: center;
  margin-bottom: 50px;

}

.borderBottom {
  width: 82%;
  margin: auto;
  background-color: $primaryTextColor;
  height: 1px;
}

.buttonContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}


.productButton {
  font-family: $example1font;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  color: $clay;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin-right: 20px;
  width: 120px;
  outline: none;
  padding: 0.5rem 1rem;
  text-align: center;
  //text-decoration: none;
  transition: color 0.5s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}



.active{
  text-decoration: underline;
  color: $primaryTextColor;
}


.menuButton {
  background: linear-gradient(-0deg, $primaryTextColor 20%, $gold 90%);
  border: 1px solid white;
  height: 180px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 270px;
  
}

.menuButton:hover {
  box-shadow: 0 5px 35px 0px $gold;
}



.menuItemContent {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%; 
}



.shoppingCartSection {
  justify-content: flex-end; 
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  
}

.quantityCounter {
  font-family: $example1font;
  color:$primaryTextColor;
  font-weight: bold;
}


.navigateButton:hover {
  background-color: transparent;
}



.shoppingCart {
  color:$primaryTextColor;
  
}

.shoppingCartButtons {
  display: flex;
  align-items: center;
  background-color: $buttonColor;
  border-radius: 10px;
  height: 35px;
  margin-right: 10px;
  color: $primaryTextColor;
  font-size: 10px;
}

.removeButton {
  font-family: $example1font;
  background-color: $buttonColor;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: $primaryTextColor;
  margin: auto;
}


.addButton {
  font-family: $example1font;
  background-color: $buttonColor;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: $primaryTextColor;
  margin: auto;
}


.menuItemTitle {
  font-family: $example1font;
  @include fontsizeRegular;
  color: $secondaryTextColor;
  display: flex;
}



.menuItemPrice {
  font-family: $example1font;
  @include fontsizeRegular;
  color: $primaryTextColor;
}


.menuItemContainer {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
}

.menuItemImage {
  width: 200px;
  height: 100%; 
  
}

.imageBeer {
  width: 70px;
  height: 100%;
  display: flex;
  margin-bottom: 50px;
  margin-top: 15px;
  object-fit: cover;
}
  

  
  .shopping {
    font-family: $example1font;
    color: $primaryTextColor;
    align-self: center;
    width: 100%;
  }
  
  .cartListItem {
    color: $primaryTextColor;
    display: flex;
    align-items: center;
    font-family: $example1font;
    padding-bottom: 10px;
  }
  
  .cartItemImage {
    width: 70px;
    height: auto; 
    margin-right: 10px; 
  }

  .cartItemImageBeer {
    width: 35px;
    height: auto; 
    margin: 10px 35px 0 15px;

  }

  .cartContent {
    width: 100%; 
    margin-right: 25px;
    border-bottom: 1px dotted gray;
  }
  
.cartItemPrice {
  display: flex;
 
  @include fontsizeSmall;
}
  

.ribbon {
  width: 60px;
  font-size: 14px;
  padding: 4px;
  position: absolute;
  right: -25px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: $buttonColor;
  color: white;
}

.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid black;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





/* MEDIA */
@media (max-width: 1024px) {
  .outerContainer {
    width: 170vh;
    display: block;
  }
  .menuButton {
    height: 200%;
    width: 100%;
  }

  .menuItemTitle {
    font-size: 45px;
  }
  .shoppingCartContainer {  
    margin:auto;
    width: 100%;
    font-size: 40px;
    }

    .cartItemPrice {
      font-size: 40px;
    }
    .cartListItem {
      font-size: 40px;
    }

    .shoppingCartButtons {
      height: 100px;
      width: 100px;
    }

    .addButton {
      height: 100px;
    }

}