@import "../../../../styles/_variables";
@import "../../../../styles/_typography";


.splide {
    width: 100%;
    background-color: rgb(20, 20, 20);
    margin-bottom: 10vh;
    cursor: grab;
  }
  
  .splide__slide {
    position: relative; /* Ensure positioning context for absolute positioning */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;

  }
 
  

  .review1 {
    width: 45%;
    display: flex;
    justify-content: center;
    opacity: 0.4;
  }

  .review2 {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    opacity: 0.4;
  }

  .review3 {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    opacity: 0.4;
  }
  
  .reviewText1 {
    position: absolute;
    top: 30%;
    word-spacing: 0.5rem;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;   
    z-index: 1;
  }

  .faderight {
    position: absolute;
    top: 0;
    right: 55%;
    width: 10%; 
    height: 100%;
    background: linear-gradient(to right, rgba(22, 652, 65, 0), rgb(14, 13, 11)); 
  }





  