.headerContainer, .getStarted {
    color: #F4DFC8;
    font-family: 'Apple Garamond', sans-serif
  }
  
  .headerContainer h1 {
    font-size: 70px;
  }
  
  .headerContainer h2 {
    font-size: 35px;
    margin-top: -40px;
  }
