.headerContainer, .getStarted {
  color: #F4DFC8;
  font-family: 'Apple Garamond', sans-serif;
}

.headerContainer h1 {
  font-size: 70px;
  border-bottom: 1px solid;
}

.headerContainer h2 {
  font-size: 25px;
  margin-top: -40px;
}

.headerContent {
  display: flex;
  //flex-direction: row;
  margin-left: auto;
  padding: 20px;
  margin-top: -200px;
}

.iconContent {

}

.buttonContent {
  margin: auto;
  justify-content: space-between;

}

.icon {
  width: 150px;
  height: 150px;
}

.orderButton {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #b63333;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  width: 100px;
}

.loginButton {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #b63333;
  color: white;
  padding: 15px 5px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 5px;
  width: 100px;


}

.mainInfoPage {

  box-sizing: border-box;
}

.contentPicture {

    height: auto;
    z-index: 10;
    bottom: 20%;
    left: 40%;
    position: absolute;

}



.burgerPicture {
  max-width: fit-content;
  height: 450px;
}

.orderButton:hover {
  background-color: transparent;
  border: 1px solid #b63333;
  color: #b63333;
}

.loginButton:hover {
  background-color: transparent;
  border: 1px solid #b63333;
  color: #b63333;
}

.button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #b63333;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 5px;
  width: 350px;
}


.button:hover {
  background-color: transparent;
  border: 1px solid #b63333;
  color: #b63333;
}

.headerButton:hover {
  background-color: transparent;
  border: 1px solid #b63333;
  color: #b63333;
}

.loginButton:hover {
  background-color: transparent;
  border: 1px solid #b63333;
  color: #b63333;
}

.scrollTextContainer {
  position: flex;
  bottom: 50px;
  left: 20px;
  width: calc(100% - 40px);
  overflow: hidden;
}


.scrollTextList {
  list-style-type: none;
  margin: 5;
  padding: 5;
  white-space: nowrap;
  animation: scrollText 20s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrollTextList li {
  display: inline-block;
  padding-right: 25px;
}


