/* Boilerplate variables */

/* COLORS */
$primaryTextColor: #222;
$primaryBg: #ccc;

$bacon: #FBE9E9;
$ash: #EEEEEE;
$snow: #F4F3F1;
$alert: #EB5757;
$lightMint: #DBFBF0;
$mint: #8ED8BF;
$darkMint: #489078;
$clay: #605858;
$coal: #353131;
$shade24Light: rgba(241, 240, 236, 0.24);
$shade24Dark: rgba(53, 49, 49, 0.24);
$shade12Light: rgba(241, 240, 236, 0.12);

/* MARGINS, PADDINGS, GAPS */

$baseline: 16px;

$padding-huge: calc($baseline * 2);
$padding-large: calc($baseline * 1.5);
$padding: $baseline;
$padding-sml: calc($baseline / 2);
$padding-nano: calc($baseline / 4);

$margin-huge: calc($baseline * 2);
$margin-large: calc($baseline * 1.5);
$margin: $baseline;
$margin-sml: calc($baseline / 2);
$margin-nano: calc($baseline / 4);

$gap-huge: calc($baseline * 3);
$gap-large: calc($baseline * 1.5);
$gap: $baseline;
$gap-sml: calc($baseline / 2);
$gap-nano: calc($baseline / 4);

/* EFFECTS */

$radius-tier-1: 8px;
$radius-tier-2: 4px;
$radius-tier-3: 2px;

$shadow-sml:
  0px 0px 1.2px rgba(0, 0, 0, 0.025),
  0px 0px 3.3px rgba(0, 0, 0, 0.019),
  0px 0px 10px rgba(0, 0, 0, 0.012),
  0px 0px 17.9px rgba(0, 0, 0, 0.009);

$shadow-medium:
  0px 0px 3.2px rgba(0, 0, 0, 0.035),
  0px 0px 7.3px rgba(0, 0, 0, 0.029),
  0px 0px 20px rgba(0, 0, 0, 0.022),
  0px 0px 40.9px rgba(0, 0, 0, 0.019);

$shadow-large:
  0px 0px 2.2px rgba(0, 0, 0, 0.015),
  0px 0px 5.3px rgba(0, 0, 0, 0.021),
  0px 0px 10px rgba(0, 0, 0, 0.009),
  0px 0px 17.9px rgba(0, 0, 0, 0.019),
  0px 0px 33.4px rgba(0, 0, 0, 0.042),
  0px 0px 80px rgba(0, 0, 0, 0.2);

/* RESPONSIVE */
$mobileBreakpoint: 480px;
$tabletBreakpoint: 640px;

/* HELPERS */

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-sml;
}

@mixin column-no-center {
  display: flex;
  flex-direction: column;
}

@mixin row {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

@mixin grid-row {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  grid-auto-rows: minmax(30px, auto);
  gap: $gap;
}

@mixin dotted-line {
  align-self: flex-end;
  justify-self: flex-end;
  border-top: 2px dotted;
  height: 1px;
  background-color: $clay;
}

@mixin small-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

@mixin mobile-width-default {
  width: 100%;
  max-width: 400px;
}