@import "../styles/_variables";
@import "../styles/_typography";
  
html, body {
  height: 100%;
  background-image: url('../../src/assets/images/background.avif');
  background-color: black;
  scroll-behavior: smooth;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}


@media (max-width: 1024px) {
  html, body {
    background-image: none;
  }
}





