@import "../styles/_variables";
@import "../styles/_typography";
  
html, body {
  height: 100%;
  background-color: $primaryBg;
  scroll-behavior: smooth;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.headercontainer {
  background-image: url('/../src/assets/images/background.avif');
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}



@media (max-width: 1024px) {
  html, body {
    background-image: none;
  }
}





