@import "../../styles/_variables";
@import "../../styles/_typography";

.headerContent {
  display: flex;
  //flex-direction: row;
  //margin-left: auto;
  //padding: 20px;
  //margin-top: -200px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center
}

.iconContent {
  margin-left: 100px;
  margin-top: 10px;
}

.loggedInText {

  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  font-weight: bold;
  font-size: large;
}

.buttonContent {
  //margin: auto;
  justify-content: space-between;
  margin-left: auto;
  flex-direction: row;
  margin-right: 50px;
  display: flex;


}

.icon {
  width: 150px;
  height: 150px;
}

.orderButton {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:  $buttonColor;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  width: 100px;
}

.loginButton {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:  $buttonColor;
  color: white;
  padding: 15px 5px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  width: 100px;
  margin: 10px;
}

.logoutButton {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:  $buttonColor;
  color: white;
  padding: 10px 5px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  width: 100px;

}

.hamburgericon {
  margin-right: 100px;
  display: flex;
  margin-top: 10px;
  height: 60px;
  width: 60px;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  }
}

@keyframes slideIn {
  0% {
    width: 0%;
    // transform: scale(.3);
    opacity: 0;
  }

  100% {
    width: 25%;
    // transform:scale(1);
    opacity: 1;

  }
}

.nav {
  background: $primaryBg;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  z-index: 10;
  opacity: 0;


  transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
  transition-delay: 100ms;
  ul {
    margin: 0;
    position: absolute;
    top: 30%;
    right: 40%;
    li {
      list-style: none;
      font-size: 24px;
      color: #fff;
      line-height: 2.2;
      text-transform: uppercase;
      letter-spacing: 1.7px;

      &:before {

      }
    }
  }
}

.nav.show {
  //  opacity: 0;
  // animation: slideIn 0.6s cubic-bezier(.62,.04,.3,1.56);
  // animation-fill-mode: forwards;
  width: 50%;
  // transform:scale(1);
  opacity: 1;
}


.dark-blue {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  background: whitesmoke;
  height: 100%;
  width: 0%;
  transition: all 500ms cubic-bezier(.62,.04,.3,1.8);
  transition-delay: 50ms;
  z-index: 5;
  opacity: 1;
}

.dark-blue.slide {
  width: 40%;
  opacity: 1;

}

@keyframes shotup {
  0% {
    transform: translateY(300%) ;
    opacity: 0;
  }
  90% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0%) ;
    opacity: 1;
  }
}



.orderButton:hover {
  background-color: transparent;
  border: 1px solid #b63333;
  color: #b63333;
}

.loginButton:hover {
  background-color: transparent;
  border: 1px solid #b63333;
  color: #b63333;
}