@import "../../styles/_variables";
@import "../../styles/_typography";

.headerContent {
  display: flex;
  //flex-direction: row;
  //margin-left: auto;
  //padding: 20px;
  //margin-top: -200px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.iconContent {
  margin-left: 270px;
  margin-top: 10px;
}

.loggedInText {

  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  font-weight: bold;
  font-size: large;
}

.buttonContent {
  
  //margin: auto;
  justify-content: space-between;
  margin-left: auto;
  flex-direction: row;
  margin-right: 80px;
  z-index: 1;
  display: flex;


}

.icon {
  width: 150px;
  height: 150px;
}


.orderButton {
  font-family: $example1font;
  background-color:  $buttonColor;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  width: 100px;
}

.loginButton {
  font-family: $example1font;
  background-color:  $buttonColor;
  color: white;
  padding: 15px 5px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  width: 100px;
  margin: 10px;
}

.logoutButton {

  font-family: $example1font;
  background-color:  $buttonColor;
  color: $secondaryTextColor;
  padding: 10px 5px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  width: 100px;


}

.hamburgericon {

  display: flex;
  margin-top: 10px;
  margin-right: 200px;
  height: 60px;
  width: 60px;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  }
}

.navCloseIcon {
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  height: 60px;
  width: 60px;
  z-index: 1000;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.navCloseIcon:hover {

  color: rgb(160, 160, 160);
  cursor: pointer;

}


.hidden {
  display: none;
}


@keyframes slideIn {
  0% {
    width: 0%;
    // transform: scale(.3);
    opacity: 0;

  }

  100% {
    width: 25%;
    // transform:scale(1);
    opacity: 1;

  }
}

.nav {
  background: $primaryBg;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  z-index: 10;
  opacity: 0;
  position: fixed;
  transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
  transition-delay: 100ms;
  overflow: hidden;
  ul {
    margin: 0;
    position: absolute;
    top: 30%;
    right: 40%;
    opacity: 0;
    li {
      list-style: none;
      font-size: 24px;
      color: #fff;
      line-height: 2.2;
      text-transform: uppercase;
      letter-spacing: 1.7px;

      &:before {

      }
    }
  }
}

.nav.show {
  //  opacity: 0;
  // animation: slideIn 0.6s cubic-bezier(.62,.04,.3,1.56);
  // animation-fill-mode: forwards;
  width: 50%;
  // transform:scale(1);
  opacity: 1;
  ul {
    opacity: 1;
  }
}


.navContent {
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  background: whitesmoke;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0%;
  transition: all 500ms cubic-bezier(.62,.04,.3,1.8);
  transition-delay: 50ms;
  z-index: 5;
  opacity: 0;
}

.navContent.slide {
  width: 35%;
  opacity: 1;

}


.wrapNavContent {

  grid-row-gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 70px;
}


.navContentText {

  color: var(--black);
  letter-spacing: -.82px;
  text-transform: uppercase;
  font-family: Akzidenzgroteskpro, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1%;
  text-decoration: none;
}

.navContentText:hover {

  color: rgb(160, 160, 160);
  cursor: pointer;

}


.navContentSocialText {

  margin-top: 30px;
  color: var(--black);
  letter-spacing: -.82px;
  font-family: Akzidenzgroteskpro, sans-serif;
  font-size: 1rem;
  line-height: 1%;
  font-weight: bold;
  text-decoration: none;

}

.navContentSocialText:hover {

  color: rgb(160, 160, 160);
  cursor: pointer;

}
@keyframes shotup {
  0% {
    transform: translateY(300%) ;
    opacity: 0;
  }
  90% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0%) ;
    opacity: 1;
  }
}

.iconNavContent {

  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.menuicon {
  width: 200px;
  height: 200px;
 margin-top: 50px;

}


.orderButton:hover {
  background-color: transparent;
  border: 1px solid #b63333;
  color: #b63333;
}

.loginButton:hover {
  background-color: transparent;
  border: 1px solid $buttonColor;
  color: $buttonColor;
}