.headerContent {
  display: flex;
  //flex-direction: row;
  //margin-left: auto;
  //padding: 20px;
  //margin-top: -200px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center
}

.iconContent {

}

.buttonContent {
  //margin: auto;
  justify-content: space-between;
 // margin-left: 250px;
  flex-direction: row;


}

.icon {
  width: 150px;
  height: 150px;
}

.orderButton {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #b63333;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  width: 100px;
}

.loginButton {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #b63333;
  color: white;
  padding: 15px 5px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 5px;
  width: 100px;


}

.orderButton:hover {
  background-color: transparent;
  border: 1px solid #b63333;
  color: #b63333;
}

.loginButton:hover {
  background-color: transparent;
  border: 1px solid #b63333;
  color: #b63333;
}