@import url("https://fonts.cdnfonts.com/css/apple-garamond");
@import "../../../styles/_variables";
@import "../../../styles/_typography";

.navigateButton {
    font-family: $example1font;
    background-color: transparent;
    color: $secondaryTextColor;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .navigateButton:hover {
    transform: scaleY(0.9) scaleX(0.9);
  }