@import "../../../styles/_variables";
@import "../../../styles/_typography";

.footer {
    background-color: white;
    color: $secondaryTextColor;
    text-align: center;
    padding: 3rem 0;
    margin-top: 2rem; 
    justify-content: space-between;
  }


  .footerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .leftSection {
    display: flex;
    align-items: center;
  }

  .rightSection {
    display: flex;
    align-items: center;
    margin-right: 100px;
  }

  .middleSection {
    font-size: 25px;
    text-align: center;
    font-family: $example1font;



  }

  

  
  .scrollToSection{
    font-family: $example1font;
    scroll-behavior: smooth;
    border: none;
    cursor: pointer;
    padding-left: 50px;
    background-color: white;
    @include fontsizeSmall
  }

  .scrollToSection:hover {
    color: $gold;
  }



  .scrollToSection {
    padding: .5em .8em;
    color: $secondaryTextColor;
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
  .scrollToSection::before,
  .scrollToSection::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .scrollToSection::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid $gold;
    border-right: 3px solid $gold;
    transform: translate(-100%, 50%);
  }
  
  .scrollToSection:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid $gold;
    border-left: 3px solid $gold;
    transform: translate(100%, -50%)
  }
  
  .scrollToSection:hover:before,
  .scrollToSection:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .scrollToSection:hover {
    color: $gold;
  }




.ul {
  display: flex;
}

.ul li {
  list-style: none;
}

.ul li a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 10;
}

.ul .icon {
  position: relative;

  transition: transform 0.5s;
  z-index: 3;
}

.ul li a:hover .icon {
  color: white;
  transform: rotateY(360deg);
}

.ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.ul li a:hover:before {
  top: 0;
}

.ul li:nth-child(1) a:before{
  background: #3b5999;
}

.ul li:nth-child(2) a:before{
  background: #55acee;
}

.ul li:nth-child(3) a:before {
  background: #0077b5;
}

.ul li:nth-child(4) a:before {
  background: #dd4b39;
}


  