@import "../../../styles/_variables";
@import "../../../styles/_typography";

.footer {
    background-color: white;
    color: $secondaryTextColor;
    text-align: center;
    padding: 3rem 0;
    margin-top: 2rem; 
  }
  
  .footer a {
    color: #61dafb;
    text-decoration: none;
    margin: 0 0.5rem;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }

  .scrollToSection{
    scroll-behavior: smooth;
  }
  