@import url("https://fonts.cdnfonts.com/css/apple-garamond");
@import "../../../styles/_variables";
@import "../../../styles/_typography";


.checkoutButton {
    font-family: $example1font;
    background-color: $buttonColor;
    color: $primaryTextColor;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: $base;
    width: 100%;
  }

  .checkoutButton:hover {
    background-color: transparent;
    border: 1px solid $primaryTextColor;
    color: $primaryTextColor;
  }

  @media (max-width: 768px) {
    .checkoutButton {
      padding: 12px 20px;
      font-size: calc($base - 2px); 
    }
  }
  
  @media (max-width: 480px) {
    .checkoutButton {
      padding: 10px 15px;
      font-size: calc($base - 4px);
      border-radius: 20px;
      width: 250px;
    }
  }