@import "../../../../styles/_variables";
@import "../../../../styles/_typography";

.burgerSection {
    font-family: $example1font;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%; 
    background-color: white;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 45px;
  }
  
  .homepageText {
    @include fontsizeRegular;
    padding: 20px;
  }
  
  .burgerTitle {
  @include fontsizeLarge;
  text-transform: uppercase;
  }
  
  
  .burgerPicture {
    width: 500px;
    height: 100%;
  }
  