@import "../../../../styles/_variables";
@import "../../../../styles/_typography";

.burgerSection {
    font-family: $example1font;
    @include row;
    width: 70%; 
    background-color: white;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10vh;
  }
  
  .burgerText {
    width: 150vh;
  }
  .homepageText {
    @include fontsizeMedium;
    padding: $padding-large;
  }
  
  .burgerTitle {
  @include fontsizeHuge;
  text-transform: uppercase;
  }
  
  
  .burgerPicture {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1024px) {
    .burgerSection {
      width: 100%;
    }
  }
  