@import url("https://fonts.cdnfonts.com/css/apple-garamond");
@import "../../styles/_variables";
@import "../../styles/_typography";


.outerContainer {
  flex-direction: column;
  display: flex;
  align-items: center

}

.menuContainer {
  font-family: "Apple Garamond", sans-serif;
  color: $bacon;
  flex-direction: row;
  padding-left: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.orderContainer {

  display: flex;
  align-items: center;
  margin-top: 50px;
  flex-direction: row;
  //margin-left: 50px;

}

.orderText {

  font-weight: bold;
  margin-left: 20px;
}


.orderContent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 40px;
}

.g {
  display: flex;

}

.estimatedTimeText {


}


.timeText {


}

.contentSection {


}

.checkIcon {

  height: 50px;
  width: 50px;
}

.clockIcon {

  height: 40px;
  width: 40px;
}

.timeContent {

  border: 2px solid #e7e7e7;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;

}

.shoppingCartContainer {
  background-color: rgb(24, 22, 22);
  border-radius: 5%;
  width: 15%;
  margin-bottom: 100px;
  border: none;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-left: auto;
}

.navigateButton {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: transparent;
  color: white;
  border: none;
  margin-top: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 10px;
  margin-right: auto;
  margin-left: 50px;
}

.navigateButton:hover {
  background-color: transparent;
}


.menuTitle {
  @include fontsizeHuge;
  font-family: $example1font;
  color: black;
  //margin-left: 100px;
  margin-top: -12px;
  margin-left: 65px;
}

.homeIcon {

    width: 150px;
    height: 150px;
    margin-top: -20px;

}

.totalPriceSection {
  color: black;
  margin-left: 10px;
}


.checkoutButtonSection {

  position: absolute;
  left: 79%;
}

.checkoutButton {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #b63333;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 15px;
  width: 300px;
}

.shopping {
  font-family: "Apple Garamond", sans-serif;
  color: white;
  align-self: center;
}

.shoppingCartSection {
  position: absolute;
  display: flex;
  margin-left: 250px;
  margin-top: -4px;
  align-items: flex-end;
}

.shoppingCart {

  color: white;
}

.quantityCounter {

  color: white;
  font-weight: bold;

}

.cartListItem {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.cartItemImage {
  width: 70px;
  height: auto;
  margin-right: 10px;
}

.cartItemImageBeer {
  width: 35px;
  height: auto;
  margin: 10px 35px 0 15px;

}

.cartContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 20px;

}

.borderline {

  border-bottom: 1px solid;
  color: #e7e7e7;
}

.cartItemPrice {
  @include fontsizeSmall;
  line-height: 100%;
  color: black;

}