@import "../../styles/variables";
@import "../../styles/typography";


.closeIcon {
  margin-left: auto;
  cursor: pointer;
}

.loginPopup {
  width:400px;
}

.registrationText {
  font-family: $example1font;
  margin: auto;
  cursor: pointer;
}

.registrationText:hover {
  margin: auto;
  text-decoration-line: underline;
}

.DialogTitle {
  font-weight: bolder;
  cursor: pointer;
}

.errorText {
  color: #b63333;
}

.submitButton {
  font-family: $example6font;
  letter-spacing: 1.5px;
  background-color:  $primaryTextColor;
  color: $secondaryTextColor;
  padding: 10px 5px;
  border: none;
  border-radius: $radius-tier-1;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
}

.submitButton:hover {
transform: scaleX(0.99) scaleY(0.99);
}