@import "../../styles/variables";
@import "../../styles/typography";


.closeIcon {

  margin-left: auto;
  cursor: pointer;
}

.loginPopup {


  width:400px;
}

.registrationText {

  margin: auto;
  cursor: pointer;
}

.registrationText:hover {

  margin: auto;
  text-decoration-line: underline;
}

.DialogTitle {


  font-weight: bolder;
  cursor: pointer;
}

.errorText {

  color: #b63333;
}

.submitButton {


  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:  $buttonColor;
  color: white;
  padding: 10px 5px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;

}